{% extends 'base/main.html' %}

{% block content %}

<div class="header-bar">
  <div>
    <h1>
      Hello {{request.user|title}}
      <h3 style="margin:0"> You have <i> {{count}}</i> incomplete task{{count|pluralize:"s" }}</h3>
    </h1>

  </div>
  {% if request.user.is_authenticated %}

  <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
  </form>
  {% else %}
  <a href="{% url 'login' %}">Login</a> 
  {% endif %}
 

</div>



<hr>
<h1>My Todo List </h1>

<div id="search-add-wrapper">
  <form method="GET" style="margin-top: 20px;display: flex;">
    <input type="text" name = 'search-area' value="{{search_input}}">
    <input type="submit" value="Search">
  
  </form>
  {% if tasks|length > 0 %}
    <a id="add-link" href="{% url 'task_create' %}">&#x2b;</a>
  {% endif %}

</div>






<div class="task_items-wrapper">
  {% for task in tasks %}
    <div class="task-wrapper" data-position="{{task.pk}}">
      <div class="task-title">
          {% if task.complete %}
          <div class="task-complete-icon"></div>
          <i><s><a href="{% url 'task_update' task.id %}">{{task}}</a></s></i> {% else %}
          <div class="task-incomplete-icon"></div>
          <a href="{% url 'task_update' task.id %}">{{task}}</a> {% endif %}
      </div>
      <div class="task-controls">
          <a class="delete-link" href="{% url 'task_delete' task.id %}">&#215;</a>
          <span class="handle">&nbsp;&#10247;</span>
      </div>
    </div>
  {% endfor %}

</div>


{% endblock %}


